.photo-container {
	-fx-hgap: 15;
	-fx-vgap: 15;
}
.photo-container-incoming {
	-fx-alignment:top-right;
	-fx-hgap: 15;
	-fx-vgap: 15;
}

.document-container {
	-fx-hgap: 15;
	-fx-vgap: 15;
}

.document-container-incoming {
	-fx-alignment:top-right;
	-fx-hgap: 15;
	-fx-vgap: 15;
}

.document-label {
	-fx-background-color:#36638E;
	-fx-text-fill:white;
	-fx-background-radius:10;
	-fx-padding:7 7 7 7;
	-fx-wrap-text:true;
}

.image-context-menu-item{
	-fx-background-color:transparent;
}

.image-context-menu-item:focused {
	-fx-background-color: transparent;
}

.image-context-menu-item:focused > .label {
    -fx-text-fill: black;
}

.image-context-menu-item:hover {
	-fx-background-color: -fx-accent;
}
.image-context-menu-item:hover > .label {
    -fx-text-fill: white;
}
