.forwarded-messages-container {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-fit-to-width: true;
	-fx-padding:0 1 0 1;
}

.forwarded-messages-container .viewport{
	-fx-background-color: white;
	-fx-padding:0 0 0 0;
}

.forwarded-messages-container .scroll-bar {
	-fx-background-color:white;
}
.forwarded-messages-container .scroll-bar .thumb {
	-fx-background-color: rgba(0,0,0,0.3);
}
.forwarded-messages-container .scroll-bar:vertical .increment-button ,
.forwarded-messages-container.scroll-bar:vertical .decrement-button {
	-fx-background-color:black;
	-fx-background-radius: 0em;
	-fx-padding:0 5 0 0;
}

.forwarded-messages-container .increment-button .increment-arrow,
.forwarded-messages-container .decrement-button .decrement-arrow {
	-fx-shape:"";
	-fx-padding:0;
}

.photo-container {
	-fx-alignment: top-center;
	-fx-hgap: 15;
	-fx-vgap: 15;
}

.document-container {
	-fx-alignment: top-center;
	-fx-hgap: 15;
	-fx-vgap: 15;
}

.document-label {
	-fx-background-color:#36638E;
	-fx-text-fill:white;
	-fx-background-radius:10;
	-fx-padding:7 7 7 7;
	-fx-wrap-text:true;
}

.image-context-menu-item{
	-fx-background-color:transparent;
}

.image-context-menu-item:focused {
	-fx-background-color: transparent;
}

.image-context-menu-item:focused > .label {
    -fx-text-fill: black;
}

.image-context-menu-item:hover {
	-fx-background-color: -fx-accent;
}
.image-context-menu-item:hover > .label {
    -fx-text-fill: white;
}
