.chats-header{
	-fx-font-size: 3em;
	-fx-text-fill: #36638E;
}

.chats-status-bar {
	-fx-spacing: 20;
	-fx-padding: 0 0 0 10;
}

.chats-root{
	-fx-background-color: white;
	-fx-pref-height:650;
	-fx-pref-width:650;
}

#chats-status-message {
	-fx-min-width: 100;
}

.chats-container {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-fit-to-width: true;
}
.chats-container .viewport{
	-fx-background-color: white;
}

.chats-container .scroll-bar {
	-fx-background-color:white;
}
.chats-container .scroll-bar .thumb {
	-fx-background-color: rgba(0,0,0,0.3);
}
.chats-container .scroll-bar:vertical .increment-button ,
.chats-container.scroll-bar:vertical .decrement-button {
	-fx-background-color:black;
	-fx-background-radius: 0em;
	-fx-padding:0 5 0 0;
}

.chats-container .increment-button .increment-arrow,
.chats-container .decrement-button .decrement-arrow {
	-fx-shape:"";
	-fx-padding:0;
}
.chats-container:focused {
	-fx-background-color: white;
	-fx-border-color: white;
}


.chats-border:horizontal .line {
    -fx-background-color: #D8DFEA; /* if padding lets say >=3 line becomes rectangle and bg color can be seen */
    -fx-background-insets: 0 0 0 0; /* as i know insets only apply to background not border */ 
    -fx-border-color: white; /* changes line/border color of line/region */ 
    -fx-border-width: 1; /* width of line/border */
    -fx-border-style: solid;
    -fx-padding: 1 0 0 0; /* change this to : 1 0 0 0 and only thin line will be visible for "stronger/fatter" line change to 1 1 1 1 */
}

.chats-border:vertical .line { 
    /* 
    line is region or stackpane (not sure about that) has -fx-padding property see jfx CSS StackPane for more info here : 
    see CSS Ref: http://download.oracle.com/docs/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html#stack
    -fx-background-insets applies only to background colors not borders:
    see here: http://download.oracle.com/docs/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html#region
    */
    -fx-background-color: yellow, blue; /* if padding lets say >=3 line becomes rectangle and bg color can be seen */
    -fx-background-insets: 2, 8 4 8 4; /* as i know insets only apply to background not border */ 
    -fx-border-color: green; /* changes line/border color of line/region */
    -fx-border-width: 2; /* width of line/border */
    -fx-border-radius: 5;
    -fx-border-style: dashed;
    -fx-padding: 3 5 3 5; /* change this to : 1 0 0 0 and only thin line will be visible for "stronger/fatter" line change to 1 1 1 1 */
    /* for -fx-padding we can say that it in some way "resizes" that line/region */
    /* or you can use -fx-shape to setup bigger line shape */
}

