
.message-hbox{
	-fx-spacing: 10;
	-fx-alignment: center-left;
	-fx-padding: 5 2 5 2;
}

.message-hbox-incoming {
	-fx-spacing: 10;
	-fx-alignment: center-right;
	-fx-padding: 5 2 5 2;
}

.message-hbox-incoming:hover {
	-fx-background-color: #DAE1E8;
}
.message-hbox-incoming:pressed {
	-fx-background-color: derive( #DAE1E8, 30%);
}

.message-hbox:hover {
	-fx-background-color: #DAE1E8;
}
.message-hbox:pressed {
	-fx-background-color: derive( #DAE1E8, 30%);
}
.message-date{
	-fx-font-style: italic;
	-fx-font-size: 10 em;
}
.message-meta-info-container{
	-fx-alignment: center-left;
}

.message-container-incoming{
	-fx-border-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 20;	
	-fx-alignment:center-right;
	-fx-padding: 10;
	-fx-background-radius: 20;
	-fx-spacing: 10;
}

.message-container{
	-fx-border-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 20;	
	-fx-alignment:center-left;
	-fx-padding: 10;
	-fx-background-radius: 20;
	-fx-spacing: 10;
}
.message-container:unread{
	-fx-border-color: derive(#DAE1E8, 0%);
	-fx-border-width: 2;
	-fx-border-radius: 20;	
	-fx-alignment:center-left;
	-fx-spacing: 10;
}

.message-container-incoming:unread{
	-fx-background-color: derive(#DAE1E8, 20%);
	-fx-alignment:center-left;
	-fx-spacing: 10;
}

.message-container-incoming:viewed{
	-fx-border-color: derive(#DAE1E8, 0%);
	-fx-border-width: 2;
	-fx-border-radius: 20;	
	-fx-alignment:center-left;
	-fx-spacing: 10;
}

.message-message{
	-fx-wrap-text: true;
	-fx-min-width: 50;
}

.message-border:vertical .line {
    -fx-background-color: #D8DFEA; /* if padding lets say >=3 line becomes rectangle and bg color can be seen */
    -fx-background-insets: 0 0 0 0; /* as i know insets only apply to background not border */ 
    -fx-border-color: white; /* changes line/border color of line/region */ 
    -fx-border-width: 0; /* width of line/border */
    -fx-border-style: solid;
    -fx-padding: 1 1 1 0; /* change this to : 1 0 0 0 and only thin line will be visible for "stronger/fatter" line change to 1 1 1 1 */
}
